* {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    background: #eee;
}

table, th, td {
    border: 1px solid #bbb;
    border-collapse: collapse;
}

table {
    margin: auto;
    border: none;
}

th {
    padding: 15px 10px;
    background-color: #333e49;
    color: #fff;
}

td {
    padding: 5px 15px;
    background: #fff;
    color: #333e49;
    height: 20px;
}

.name-row {
    max-width: 600px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tool {
    width: inherit;
    background: #eee;
    border: none;
    padding: 0;
}

.tool img {
    opacity: 0;
    height: 100%;
    margin: 4px;
}

tr:hover .tool img:hover {
    opacity: 1;
}

tr:hover .tool img {
    opacity: .5;
    cursor: pointer;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 5% auto;
    padding: 10px 20px 0 20px;
    border: 1px solid #bbb;
    width: 40%;
    background: #fff;
}

.close {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: #fff;
}

.close:hover,
.close:focus {
    color: #428bd7;
    text-decoration: none;
    cursor: pointer;
}

.modal-content label {
    display: block;
    background: #fff;
    margin-bottom: 2px;
    font-size: 11pt;
    color: #777;
}

.modal-content input, select {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #333e49;
}

.modal-content input {
    width: 100%;
}

.modal-content select {
    width: auto;
}

.modal-content input:focus {
    border: solid 1px #428bd7;
}

.err {
    font-size: 11pt;
    height: 30px;
    width: 100%;
    color: #ff7679;
}

.filter-tool {
    margin: 0 auto 10px auto;
    text-align: center;
}

.add {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.filter {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin: 0;
}

.reset {
    display: inline-block;
    vertical-align: middle;
    font-size: 25pt;
    font-weight: bold;
    margin: auto;
    border: none;
    color: #333e49;
    outline: none;
    opacity: .5;
}

.reset:hover {
    opacity: 1;
}

.container {
    margin: auto;
    width: 60%;
    background: #fff;
    padding: 10px 0;
}

.btn {
    opacity: 1;
    border: none;
    border-radius: 4px;
    background: #428bd7;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
}

.btn:hover {
    opacity: .8;
}

.submit {
    display: block;
    margin: 10px auto;
}

h1 {
    background: #fff;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    color: #333e49;
    font-size: 14pt;
}
