<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProSoft</title>
</head>
<body>
    <div id="content">
        <script type="text/template" id='template'>
            <ul>
                <% _.each(rc.d, function(listItem){ %>
                <li>
                    <%- listItem.name + " " %>
                    <% if (listItem.type === 1) { %>
                    Ф
                    <% } else { %>
                    Ю
                    <% } %>
                    <%- listItem.number %>
                </li>
                <% }); %>
            </ul>
        </script>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="app.js"></script>
</body>
</html>