<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestProSoft</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <div class="content">

        <div class="filter-tool">
            <button class="btn add">Добавить потребителя</button>
            <select class="filter">
                <option value="0" selected disabled>Фильтр</option>
                <option value="1">Физическое лицо</option>
                <option value="2">Юридическое лицо</option>
            </select>
            <button class="reset">&times;</button>
        </div>
    </div>

    <table id="consumerTable">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Тип</th>
                <th>Номер</th>
            </tr>
        </thead>
    </table>

    <script type="text/template" id="popup">
        <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1><% if (this.model) { print('Изменить') } else { print('Добавить') } %> потребителя</h1>
                <form class="container">
                    <label for="name">Имя</label>
                    <input id="name" type="text" value="<% if (this.model !== undefined) { print(this.model.get('name')) } %>">
                    <label for="type">Тип</label>
                    <select id="type">
                        <option value="1"  <% if (this.model && this.model.get('type') === 1) { print('selected') } %> >Физическое лицо</option>
                        <option value="2" <% if (this.model && this.model.get('type') === 2) { print('selected') } %> >Юридическое лицо</option>
                    </select>
                    <label for="phone">Номер</label>
                    <input id="phone" type="text" value="<% if (this.model !== undefined) { print(this.model.get('phone')) } %>">
                    <br><br>
                    <button type="submit" class="btn submit">Добавить</button>
                    <h1 class="err"></h1>
                </form>
            </div>
        </div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.modelbinder/1.1.0/Backbone.ModelBinder.min.js"></script>
    <script src="lib/backbone-filtered-collection.js"></script>
    <script src="server-data/id-counter.js"></script>
    <script src="js/app.js"></script>
    <script src="js/views/app-view.js"></script>
    <script src="js/views/popup-view.js"></script>
    <script src="js/views/table-view.js"></script>
    <script src="js/views/row-view.js"></script>
    <script src="js/models/consumer.js"></script>
    <script src="js/collections/consumer-list.js"></script>
</body>
</html>